<main>
    <h1>Anmeldung</h1>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    <form class="login-form" (ngSubmit)="login(loginForm)" #loginForm="ngForm">
        <div class="input-section"><img class="mail-icon" src="../../../assets/icons/mail.png" alt=""><input class="text-input" #email="ngModel" [(ngModel)]="loginData.email" name="email" id="mail-input-login" type="text" placeholder="beispielname@email.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched) {
                <p>*Diese E-Mail ist leider ungültig</p>
            }
        </div>
        <div class="input-section"><img class="lock-icon" src="../../../assets/icons/lock.png" alt=""><input class="text-input" #password="ngModel" [(ngModel)]="loginData.password" name="password" id="password-input-login" type="password" placeholder="Passwort" required>
            @if (!password.valid && password.touched) {
                <p>*Bitte geben Sie ein Passwort ein.</p>
                <!-- <p>*Falsches Passwort, oder E-Mail.. Bitte erneut versuchen.</p> -->
            }
        </div>
        <input type="submit" value="Submit" hidden>
        <div class="forgot-password">
            <a (click)="goToChangePassword()">Passwort vergessen?</a>
        </div>
        <div class="division-section">
            <div class="division-line"></div>
            <p>ODER</p>
            <div class="division-line"></div>
        </div>
        <div class="login-btns">
            <button class="google-login" (click)="loginGoogle()"><img src="../../../assets/icons/Google.png" alt="">Anmelden mit Google</button>
            <div class="default-logins">
                <button class="login" type="submit" [disabled]="loginForm.invalid">Anmelden</button>
                <button (click)="guestLogin()">Gäste-Login</button>
            </div>
            @if (submitAttempted && !submitError) {
                <p>*Falsches Passwort oder E-Mail.. Bitte erneut versuchen.</p>
            }
        </div>
    </form>
    <div class="routing-content">
        <router-outlet name="login-router"></router-outlet>
    </div>
</main>
