<main>
    <div class="headline-container">
        <img (click)="returnToRegister()" src="assets/icons/arrow_back.png" alt="">
        <h2>Wähle deinen Avatar</h2>
        <div></div>
    </div>
    <div class="big-image-container">
        <img src="{{choosenPicture}}" alt="picture">
    </div>
    <h2>{{userToRegister.name}}</h2>
    <span>Aus der liste wählen</span>
    <div class="picture-list">
        @for (picture of availablePictures; track $index) {
            <img (click)="changeAvatarPicture($index)" src="{{picture}}" alt="">
        }
    </div>
    <button (click)="finishRegister()" class="blue-button">Weiter</button>
</main>
