@use "../../styles/mixins.scss" as *;

main {
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    @include standard-flex(space-between);
    flex-direction: column;
    background-color: #ECEEFE;

    .login-head {
        margin-top: 2rem;
        width: 90%;
        @include standard-flex(space-between);
        
        >div {
            @include standard-flex();
            flex-direction: column;
        }
    }

    .routing-content {
        height: 48rem;
        width: 38rem;
        border-radius: 2rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        background-color: white;
    }

    .info-content {
        @include standard-flex();
        gap: 2rem;
        margin-bottom: 2rem;
    }
}