<main>
    <div class="login-head">
        <div>
            <img class="logo" src="assets/images/Logo.png" alt="">
            <span class="logo-text"></span>
        </div>
        <div>
            <span>Neu bei DABubble?</span>
            <a [routerLink]="[{ outlets: { 'login-router': ['register']}}]">Konto erstellen</a>
        </div>
    </div>
    <div class="routing-content">
        <router-outlet name="login-router"></router-outlet>
    </div>
    <div class="info-content">
        <a [routerLink]="[{ outlets: { 'login-router': ['imprint']}}]">impressum</a>
        <a [routerLink]="[{ outlets: { 'login-router': ['legal']}}]">legal</a>
    </div>
</main>
