<div class="single-message-container">

    <img class="avatar" src="assets/avatars/avatar_1.png" alt="">

    <div class="message-wrapper">
        <div class="message-header">
            <div class="author">
                <span class="name">Noah Braun</span>
                <span class="time">14:25 Uhr</span>
            </div>
            <div class="reaction">
                <img src="assets/icons/mail.png" alt="">
                <img src="assets/icons/mail.png" alt="">
                <img src="assets/icons/mail.png" alt="">
                <img src="assets/icons/mail.png" alt="">
            </div>
        </div>
        <div class="message">
            <span>Welche Version ist aktuell von Angular?</span>
        </div>
        <div class="answers">
            <span class="answer">2 Antworten</span>
            <span class="time">Letzte Antwort 14:56 Uhr</span>
        </div>
    </div>
</div>