<div class="single-message-container" [ngClass] = "isOwnMessage() ? 'fd-rr' : ''">

    <!-- Über eine Funktion abfragen, ob der writer und der currentUser übereinstimmen. Wenn ja muss eine Variable gesetzt werden
    Ist diese true, müssen einige Klassen hinzugefügt werden (z.B. rechtsbündig, andere Farbe, andere Reaktionen, Nachricht bearbeiten) -->

    <img class="avatar" src="assets/avatars/avatar_1.png" alt="">

    <div class="message-wrapper" [ngClass] = "isOwnMessage() ? 'ai-fe' : ''">
        <div class="message-header" [ngClass] = "isOwnMessage() ? 'fd-rr' : ''">
            <div class="author">
                <span class="name">{{message.writer}}</span>
                <span class="time">{{getTwoDigitNumber(message.time.hour)}}:{{ getTwoDigitNumber(message.time.minute)}}</span>
            </div>
            <div class="reaction" [ngClass] = "isOwnMessage() ? 'own-reactions' : ''">
                @for (emoji of reactions; track $index) {
                    <span (click)="reactToMessage(emoji)">{{emoji}}</span>
                }
                <div class="reaction-emoji">
                    <img src="assets/icons/comment.png" alt="" (click)="answerToMessage()">
                </div>
                
                @if (isOwnMessage()){
                    <div class="reaction-emoji">
                        <img src="assets/icons/more_vert.png" alt="">
                    </div>
                }
            </div>
        </div>
        <div class="message" [ngClass] = "isOwnMessage() ? 'own-message' : ''">
            <span>{{message.message}}</span>
        </div>
        <div class="answers">
            <div class="reactions-div">
                @for (emoji of message.emojis; track $index) {
                    <div class="reaction-item">
                        <span (click)="reactWithGivenReaction(emoji.unicode)">{{emoji.unicode}} {{emoji.count}}</span>
                    </div>
                }     
            </div> 
            @if (message.answer) {
                @if (message.answer.length>0) {
                    <span class="answer">{{message.answer.length}} Antworten</span>
                }
            }
            
            <span class="time">Letzte Antwort 14:56 Uhr</span>
        </div>
    </div>
</div>