@use "../../styles/mixins.scss" as *;

.single-message-container{
    width: 100%;
    @include standard-flex(flex-start, flex-start);
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    gap: 2rem;

    &:hover{
        background-color: #F0F1FE;
        cursor: pointer;

        .message{
            background-color: white;
        }

        .reaction{
            display: flex;
        }
    }
}

.avatar{
    border-radius: 50%;
    margin-top: 1rem;
}

.message-wrapper{
    @include standard-flex(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    gap: 0.5rem
}

.message-header{
    @include standard-flex(space-between);
    width: 100%;
    position: relative;
}

.message{
    background-color: #ECEEFE;
    border-radius: 0 20px 20px 20px;
    padding: 1rem;
}

.answers, .author{
    @include standard-flex(center, center);
    gap: 1rem;
}

.time{
    font-size: smaller;
}

.answer{
    color: #757BF4;
    &:hover{
        font-weight: bold;
    }
}

.reactions-div{
    @include standard-flex(center, center);
    gap: 0.5rem;
}

.reaction-item{
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 0.1rem 0.25rem;
    background-color: white;
}

.name{
    font-weight: bold;
}

.reaction{
    border-radius: 20px 20px 0 20px;
    border: 1px solid #ADB0D9;
    background-color: white;
    @include standard-flex(flex-start, flex-start);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    display: none;
    position: absolute;
    top: -1rem;
    right: 0;

    span{
        padding: 0.5rem;
        border-radius: 50%;
        &:hover{
            background-color: #ECEEFE;
        }
    }   
}