@use "../../styles/mixins.scss" as *;

:host{
  z-index: 10;
  overflow: visible;
}

.single-message-container {
  width: 100%;
  @include standard-flex(flex-start, flex-start);
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  gap: 2rem;
  overflow-x: hidden;
  z-index: 10;
  position: relative;
  overflow: visible;
  &:hover {
    background-color: #f0f1fe;
    cursor: pointer;

    .message {
      background-color: white;
    }

    .own-message {
      background-color: #797ef3;
    }

    .reaction {
      display: flex;
    }
  }
}

.bg-blue {
  background-color: #eceefe;

  &:hover {
    .own-message {
      background-color: white;
    }

    .reaction {
      display: none;
    }
  }
}

.avatar {
  border-radius: 50%;
  margin-top: 1rem;
}

.message-wrapper {
  @include standard-flex(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  z-index: 10;
  overflow: visible;
}

.message-header {
  @include standard-flex(space-between);
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: visible;
}

.message {
  background-color: #eceefe;
  border-radius: 0 20px 20px 20px;
  padding: 1rem;
}

.answers,
.author {
  @include standard-flex(center, center);
  gap: 1rem;
}

.time {
  font-size: smaller;
}

.answer {
  color: #757bf4;

  &:hover {
    font-weight: bold;
  }
}

.reactions-div {
  @include standard-flex(center, center);
  gap: 0.5rem;
}

.reaction-item {
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 0.1rem 0.25rem;
  background-color: white;
}

.name {
  font-weight: bold;
}

.fd-rr {
  flex-direction: row-reverse;
}

.ai-fe {
  align-items: flex-end;
}

.own-message {
  border-radius: 20px 0 20px 20px;
  background-color: #797ef3;
  color: white;
}

.edit {
  border: 1px solid #adb0d9;
  border-radius: 1rem;
  width: 90%;
  background-color: white;
}

.edit-textarea {
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #686868;
  font-family: "Nunito";
  font-size: 1rem;
  width: 100%;
}

.edit-btn-container {
  width: 100%;
  gap: 1rem;
  @include standard-flex(flex-end, center);
}

.reaction {
  border-radius: 20px 20px 0 20px;
  border: 1px solid #adb0d9;
  background-color: white;
  @include standard-flex(flex-start, center);
  padding: 0.5rem 1rem;
  display: none;
  position: absolute;
  top: -1.5rem;
  right: 0;
  z-index: 20;
  span {
    padding: 0.5rem;
    border-radius: 50%;

    &:hover {
      background-color: #eceefe;
    }
  }
}

.reaction-emoji {
  padding: 0.5rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  @include standard-flex(center, center);

  &:hover {
    background-color: #eceefe;
  }
}

.reacted{
  background-color: #eceefe;
}

.own-reactions {
  border-radius: 20px 20px 20px 0;
  top: -1.5rem;
  left: 0;
  right: unset;
}