<main (click)="$event.stopPropagation()">

    @if (currentProfileView == "startView") {
    <div class="choose-container">
        <span (click)="changeView('editView')">Profil</span>
        <span (click)="logout()">Logout</span>
    </div>
    }

    @if (currentProfileView == "editView") {
    <div class="profile-container">
        <div class="profile-head">
            <span>Profil</span>
            <img (click)="closeMe()" src="assets/icons/close.png">
        </div>
        <img class="profile-picture" src="{{currentUser?.picture}}" alt="">
        <div class="profile-name">
            <h2>{{currentUser?.name}}</h2>
            <span (click)="changeView('editName')">Bearbeiten</span>
        </div>
        <div class="status" >
            <span class="status-indicator" [ngClass]="{'online': currentUser?.onlineStatus}"></span>
            {{currentUser?.onlineStatus ? "Aktiv" : "Offline"}}
        </div>
        <div class="mail-container">
            <img src="assets/icons/mail.png" alt="mail-icon">
            <div>
                <h3>E-Mail-Adresse</h3>
                <a href="mailto:{{currentUser?.email}}">{{currentUser?.email}}</a>
            </div>
        </div>
    </div>
    }

    @if (currentProfileView == "editName") {
        <div class="profile-container">
            <div class="profile-head">
                <span>Dein Profil bearbeiten</span>
                <img (click)="closeMe()" src="assets/icons/close.png">
            </div>
            <div class="picture-container">
                <img (click)="previousPicture()" class="previous-button" src="assets/icons/send.png" alt="previous-button">
                <img class="profile-picture" src="{{currentPicture}}" alt="profile-picture">
                <img (click)="nextPicture()" class="next-button" src="assets/icons/send.png" alt="next-button">
            </div>
            <div class="name-edit-mid">
                <img src="assets/icons/directmessage_Icon.png">
                <span>Vollständiger Name</span>
            </div>
            <input class="name-change-input" type="text" [(ngModel)]="newUsername" name="changeUser" [placeholder]="currentUser?.name">
            <div class="confirmation-buttons">
                <button type="button" class="white-button" (click)="closeMe()">Abbrechen</button>
                <button type="button" class="blue-button" (click)="acceptChanges()">Speichern</button>
            </div>
        </div>
    }
</main>