<section (click)="closeTagList(); closeEmojiList()">
    <div class="message-wrapper">
        <textarea id="textArea" [(ngModel)]="message" type="text" rows="5" placeholder="{{messageTo}}"
            (keydown)="checkForAt($event); checkForHash($event); checkBackspace($event)"></textarea>
        <img class="send-btn" src="assets/icons/send.png" alt="" (click)="sendMessage()">
        <div class="emoji-btn" (click)="bubblingProtection($event); openEmojiList()">
            <img src="assets/icons/emoji.png" alt="">
        </div>
        <div class="tag-btn" (click)="bubblingProtection($event); openTagList('user')">
            <img src="assets/icons/tag_icon.png" alt="">
        </div>
    </div>

    @if(showUserList && getFilteredUserList().length > 0){
    <div class="tag-container">
        <div class="tag-wrapper">
            @for (user of getFilteredUserList(); track $index) {
            <div class="tag-item" (click)="tagUser(user)">
                <img src="assets/avatars/avatar_1.png" alt="">
                <span>{{user}}</span>
            </div>
            }
        </div>
    </div>
    }

    @if(showChannelList && getFilteredChannelList().length > 0){
    <div class="tag-container">
        <div class="tag-wrapper">
            @for (channel of getFilteredChannelList(); track $index) {
            <div class="tag-item" (click)="tagChannel(channel.name)">
                <span>#</span>
                <span>{{channel.name}}</span>
            </div>
            }

        </div>
    </div>
    }

    @if(showEmojiList){
    <div class="emoji-container">
        @for (emoji of emojis; track $index) {
        <span class="emoji-item" (click)="addEmoji(emoji)">{{emoji}}</span>
        }
    </div>
    }
</section>