@use "../../styles/mixins.scss" as *;
.message-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    position: relative;

    textarea {
        font-family: 'Nunito';
        resize: none;
        flex: 1;
        border: 1px solid #ADB0D9;
        border-radius: 1rem;
        padding: 1rem;
        outline: 1px solid #ADB0D9;
    }

    .send-btn{
        position: absolute;
        cursor: pointer;
        bottom: 1rem;
        right: 3rem;
        padding: 0.5rem;
        &:hover{
            content: url('../../../assets/icons/send_hover.png');
        }
    }

    .emoji-btn, .tag-btn{
        position: absolute;
        @include standard-flex();
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;
        &:hover{
            background-color: #ECEEFE;
        }
    }

    .emoji-btn{
        bottom: 1rem;
        left: 3rem;
        &:hover{
            content: url('../../../assets/icons/emoji_hover.png');
        }
    }

    .tag-btn{
        bottom: 1rem;
        left: 6rem;
        &:hover{
            content: url('../../../assets/icons/tag_icon_hover.png');
        }
    }

}