<main>
    <header>
        <div class="header-content">
            <div class="channel-name-container">
                <h2># Entwicklerteam</h2>
                <img src="assets/icons/keyboard_arrow_down.png" alt="">
            </div>
            <div class="user-container">
                <div class="avatars-container">
                    <div class="avatar">
                        <img src="assets/avatars/avatar_1.png" alt="">
                    </div>
                    <div class="avatar">
                        <img src="assets/avatars/avatar_1.png" alt="">
                    </div>
                    <div class="avatar">
                        <img src="assets/avatars/avatar_1.png" alt="">
                    </div>
                    <span>3</span>
                </div>
                <div class="person-add-btn">
                    <img src="assets/icons/person_add.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <div class="chat-container">
        main
    </div>
   
    <section class="message-container">
         <app-write-message></app-write-message>
    </section>
</main>
