<main>
    <header>
        <div class="header-content">
            <div class="channel-name-container" (click)="openEdit()">
                <h2># Entwicklerteam</h2>
                <img src="assets/icons/keyboard_arrow_down.png" alt="">
            </div>
            <div class="user-container" (click)="openMembers()">
                <div class="avatars-container">
                    <div class="avatar">
                        <img src="assets/avatars/avatar_1.png" alt="">
                    </div>
                    <div class="avatar">
                        <img src="assets/avatars/avatar_1.png" alt="">
                    </div>
                    <div class="avatar">
                        <img src="assets/avatars/avatar_1.png" alt="">
                    </div>
                    <span>3</span>
                </div>
                <div class="person-add-btn">
                    <img src="assets/icons/person_add.png" alt="">
                </div>

                @if(membersOpen){
                    <div class="bg" (click)="closeMembers(); bubblingProtection($event)" ></div>
                    <div class="members-container" (click)="bubblingProtection($event)">
                        <div class="member-header">
                            <h2>Mitglieder</h2>
                            <img class="close-button" src="assets/icons/close.png" alt="" (click)="closeMembers(); bubblingProtection($event)">
                        </div>
                        <div class="member-list">
                            @for (member of exampleMembers; track $index) {
                            <div class="member-item">
                                <img src="assets/avatars/avatar_1.png" alt="">
                                <span>{{member}}</span>
                            </div>
                            }
                            <div class="add-member">
                                <div>
                                    <img src="assets/icons/person_add.png" alt="">
                                </div>
                                <span>Mitglieder hinzufügen</span>
                            </div>
                        </div>
                
                    </div>
                    }
            </div>
        </div>
    </header>

    @if(editOpen){
    <app-edit-channel (close)="closeEdit()"></app-edit-channel>
    }

    <div class="chat-container">
        main
        @for (message of messages; track $index) {
        <span>{{message}}</span>
        }
    </div>

    <section class="message-container">
        <app-write-message (messageSent)="addMessage($event)"></app-write-message>
    </section>
</main>