<main>
    <header>
        <div class="header-content">
            <div class="channel-name-container" (click)="openEdit()">
                <h2># {{currentChannel.name}}</h2>
                <img src="assets/icons/keyboard_arrow_down.png" alt="">
            </div>
            <div class="user-container">
                <div class="avatars-container" (click)="openMembers()">
                    @for (member of currentChannel.users; track $index) {
                        <div class="avatar">
                            <img src="{{getUserImage(member)}}" alt=""> <!-- Der Channel sollte nicht nur die User als String beinhalten sondern ganze IUser Objekte -->
                        </div>
                    }
                    <span><b>{{currentChannel.users.length}}</b></span>
                </div>
                <div class="person-add-btn" (click)="openAddMember()">
                    <img src="assets/icons/person_add.png" alt="">
                </div>

                @if(membersOpen){
                <div class="bg" (click)="closeMembers()"></div>
                <div class="members-container" (click)="bubblingProtection($event)">
                    <div class="member-header">
                        <h2>Mitglieder</h2>
                        <img class="close-button" src="assets/icons/close.png" alt="" (click)="closeMembers()">
                    </div>
                    <div class="member-list">
                        @for (member of currentChannel.users; track $index) {
                        <div class="member-item" (click)="openProfile(member)">
                            <img src="{{getUserImage(member)}}" alt="">
                            <span>{{member}}</span>
                        </div>
                        }
                        <div class="add-member" (click)="goToAddMember()">
                            <div>
                                <img src="assets/icons/person_add.png" alt="">
                            </div>
                            <span>Mitglieder hinzufügen</span>
                        </div>
                    </div>

                </div>
                }

                @if(profileOpen){
                    <app-profile [user] = "profileToOpen" (close)="closeProfile()"></app-profile>
                }

                @if(addMemberOpen){
                <div class="bg" (click)="closeAddMember(); bubblingProtection($event)"></div>
                <div class="add-member-container">
                    <div class="add-member-header">
                        <h2>Mitglieder hinzufügen</h2>
                        <img class="close-button" src="assets/icons/close.png" alt=""
                            (click)="closeAddMember(); bubblingProtection($event)">
                    </div>
                    <span class="channel-name"># {{currentChannel.name}}</span>
                    <div class="input-container">
                        @for (member of membersAdded; track $index) {
                        <div class="added-member-container">
                            <img class="avatar" src="assets/avatars/avatar_1.png" alt="">
                            <span>{{member}}</span>
                            <img class="close-button-small" src="assets/icons/close.png" alt=""
                                (click)="deleteFromMembersAdded(member)">
                        </div>
                        }
                        <div class="input-wrapper">
                            <input [(ngModel)]="memberToAdd" type="text" placeholder="Name eingeben">
                            @if(memberToAdd.length>0){
                            <div class="suggestion-container">

                                @if (getFilteredMembers().length > 0) {
                                @for (member of getFilteredMembers(); track $index) {
                                <div class="suggestion-member-item" (click)="addToMembersAdded(member.name)">
                                    <img src="assets/avatars/avatar_1.png" alt="">
                                    <span>{{member.name}}</span>
                                </div>
                                }
                                } @else {
                                <span>Keine Übereistimmung gefunden</span>
                                }

                            </div>
                            }
                        </div>
                    </div>
                    <div class="add-button-container">
                        @if(checkIfInputValid()){
                            <button (click)="addToMembers()">Hinzufügen</button>
                        } @else {
                            <button disabled>Hinzufügen</button>
                        }
                      
                    </div>
                </div>
                }
            </div>
        </div>
    </header>

    @if(editOpen){
    <app-edit-channel (close)="closeEdit()" [channel]="currentChannel"></app-edit-channel>
    }

    <div class="chat-container" id="chatcontainer" #chatcontainer>
        @if(getFilteredMessages(iMessages).length>0){
            <div class="seperation">
                <div class="line"></div>
                <span>{{getDate(getFilteredMessages(iMessages)[0])}}</span>
                <div class="line"></div>
            </div>
            
        }    
        @for (message of getFilteredMessages(iMessages); track $index) {
            @if(newDay($index)){
                <div class="seperation">
                    <div class="line"></div>
                    <span>{{getDate(message)}}</span>
                    <div class="line"></div>
                </div>
                
            }
            <app-single-message [message]="message"></app-single-message>
            }
       
    </div>

    <section class="message-container">
        <app-write-message [messageTo]="currentChannel.name" (messageSent)="addMessage($event)"></app-write-message>
    </section>
</main>