<main>
  <div class="header-section">
    <h2>Thread</h2>
    <span class="channel-name">#{{ currentChannel.name }}</span>
    <button (click)="closeThread()">X</button>
  </div>
  @if (showThread && threadMessage) {
  <section class="chat-container">
    <app-single-message [message]="threadMessage"></app-single-message>
    <div class="line"></div>
    @if (threadMessage.answer) { @for (answer of threadMessage.answer; track
    $index) {
    <app-single-message
      [isInThread]="true"
      [message]="answer"
    ></app-single-message>
    } }
  </section>
  <section class="message-container">
    <app-write-message (messageSent)="addMessage($event)"></app-write-message>
  </section>
  }
</main>
