<main>
  <div class="header-section">
    <div class="thread-name">
      <h2>Thread</h2>
      <span class="channel-name">#{{ currentChannel.name }}</span>
    </div>
    <div class="close-btn-container">
      <button (click)="closeThread()">X</button>
    </div>
  </div>
  @if (showThread && threadMessage) {
  <section class="chat-container" #chatcontainer>
    <div class="seperation">
      <div class="line"></div>
      <span>{{getDate(threadMessage)}}</span>
      <div class="line"></div>
  </div>
    <app-single-message
      [message]="threadMessage"
      [isInThread]="true"
    ></app-single-message>
    <div class="line"></div>
    @if (threadMessage.answer) { @for (answer of threadMessage.answer; track
    $index) {
    <app-single-message
      [isInThread]="true"
      [message]="answer"
    ></app-single-message>
    } }
  </section>
  <section class="message-container">
    <app-write-message (messageSent)="addMessage($event)"></app-write-message>
  </section>
  }
</main>
