$primary-font-color: #535af1;
$primary-bg-color: #eceefe;
$btn-color: #444df2;
$btn-color-hover: #636af3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-content {
    background: white;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50rem;

    #header-close {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-weight: 700;
        padding: 0.15rem 0.3rem;
        &:hover {
          color: $primary-font-color;
          cursor: pointer;
          border-radius: 2rem;
          background-color: $primary-bg-color;
        }
      }
    }

    .input-p {
      font-weight: 700;
      span {
        font-weight: 100;
        font-size: 0.9rem;
      }
    }

    .input-field {
      padding: 1rem;
      border-radius: 2rem;
      border: 1px solid $primary-font-color;
      outline: none;

      &.error {
        border: 1px solid red;
      }
    }

    button {
      padding: 1rem;
      border-radius: 2rem;
      background-color: $btn-color;
      color: white;
      border: none;
      width: auto;
      align-self: flex-end;
      cursor: pointer;

      &:hover {
        background-color: $btn-color-hover;
      }
    }

    .checkbox-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;

      label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1rem;
        span {
          color: $primary-font-color;
        }

        input[type="radio"] {
          width: 1.2rem;
          height: 1.2rem;
          accent-color: $btn-color;
        }
      }
    }
  }
}
