<div class="popup-overlay" (click)="onCancel()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    @if (addChannelFirstWindow) {
      <div id="header-close">
        <h2>Channel erstellen</h2>
        <p (click)="onCancel()">X</p>
      </div>
      <p>
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
        themenbezogen sein #marketing zum Beispiel.
      </p>
      <p class="input-p">Channel-Name <span>(pflicht)</span></p>
      <input
        class="input-field"
        type="text"
        [class.error]="showError && !channelName"
        placeholder="# z.B. Kooperationsprojekte"
        [(ngModel)]="channelName"
      />
      <p class="input-p">Beschreibung <span>(optional)</span></p>
      <input
        class="input-field"
        type="text"
        placeholder="Channelbeschreibung hier eingeben"
        [(ngModel)]="description"
      />
      <button type="button" (click)="switchPopupWindow()">Erstellen</button>
    } @else {
      <div id="header-close">
        <h2>Leute hinzufügen</h2>
        <p (click)="onCancel()">X</p>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="radio"
            name="memberSelection"
            [value]="true"
            [(ngModel)]="addAllMembersSelection"
          />
          Alle Mitglieder von <span>OfficeTeam</span> hinzufügen
        </label>
        <label>
          <input
            type="radio"
            name="memberSelection"
            [value]="false"
            [(ngModel)]="addAllMembersSelection"
          />
          Bestimmte Leute hinzufügen
        </label>
        @if (!addAllMembersSelection) {
          <div class="user-selection">
            <input
              #searchInput
              class="input-field"
              type="text"
              placeholder="User suchen..."
              (focus)="onInputFocus()"
              (input)="onInputChange($event)"
              (blur)="onInputBlur()"
            />
            @if (showUserList && filteredUsers.length > 0) {
              <ul #userList class="user-list">
                @for (user of filteredUsers; track user.id) {
                  <li (click)="selectUser(user)">
                    <img src="{{ user.picture }}" alt="" />{{ user.name }}
                  </li>
                }
              </ul>
            }
            <p>
              Ausgewählte Mitglieder:
              @if (selectedMembers.length > 0) {
                <span class="selected-members">
                  @for (member of selectedMembers; track member) {
                    <span class="member-tag">
                      {{ member }}
                      <span class="remove-member" (click)="removeMember(member)"
                        >x</span
                      >
                    </span>
                  }
                </span>
              } @else {
                Keine
              }
            </p>
          </div>
        }
      </div>
      <button type="button" (click)="createChannel()">Erstellen</button>
    }
  </div>
</div>
