@use "../../styles/mixins.scss" as *;

$headHeight: 8vh;
$contentHeight: 95%;

main {
  background-color: #eceefe;
  display: flex;
  flex-direction: column;
  height: 100vh;

  > app-header {
    @include standard-flex();
    width: 100%;
    height: $headHeight;
  }

  .main-page-wrapper {
    @include standard-flex(space-between);
    flex: 1;
    overflow-y: hidden;

    > app-dev-space {
      @include standard-flex();
      width: 20%;
      height: $contentHeight;
      transition: width 0.3s ease;
      overflow: hidden;

      &.hidden {
        width: 0;
      }
    }

    #sidebar {
      position: fixed;
      bottom: 2rem;
      left: 0;
      z-index: 9999;
      border: 1px solidblack;

      .sidebar-icon {
        height: 16rem;
        width: 3rem;
        background-image: url("/assets/images/menu_close.png");
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          background-image: url("/assets/images/menu_close_hover.png");
        }

        &.main-hidden {
          background-image: url("/assets/images/menu_open.png");

          &:hover {
            background-image: url("/assets/images/menu_open_hover.png");
          }
        }
      }
    }

    .routing-content {
      display: flex;
      flex-direction: column;
      height: $contentHeight;
      flex: 1;
      &.padded {
        padding-left: 1rem;
      }
    }

    > app-thread-chat {
      @include standard-flex();
      width: 20%;
      height: $contentHeight;
    }
  }
}
