@use "../../styles/mixins.scss" as *;

$headHeight: 8vh;

main{
    background-color: #ECEEFE;

    >app-header {
        @include standard-flex();
        width: 100%;
        height: $headHeight;
    }

    .main-page-wrapper {
        @include standard-flex(space-between);

        >app-dev-space {
            @include standard-flex();
            width: 20%;
            height: calc(100vh - $headHeight);
        }

        .routing-content {
            height: calc(100vh - $headHeight);
            flex: 1;
        }

        >app-thread-chat {
            @include standard-flex();
            width: 20%;
            height: calc(100vh - $headHeight);
        }
    }
}