@use "../../styles/mixins.scss" as *;

$headHeight: 8vh;
$contentHeight: 95%;

main {
    background-color: #ECEEFE;
    display: flex;
    flex-direction: column;
    height: 100vh;

    >app-header {
        @include standard-flex();
        width: 100%;
        height: $headHeight;
    }

    .main-page-wrapper {
        @include standard-flex(space-between);
        flex: 1;

        >app-dev-space {
            @include standard-flex();
            width: 20%;
            height: $contentHeight;
        }

        .routing-content {
            display: flex;
            flex-direction: column;
            height: $contentHeight;
            flex: 1;
        }

        >app-thread-chat {
            @include standard-flex();
            width: 20%;
            height: $contentHeight;
        }
    }
}