<main>
  <app-header></app-header>
  <div class="main-page-wrapper">
    <div id="sidebar">
      <div
        class="sidebar-icon"
        [class.main-hidden]="!isMainVisible"
        (click)="toggleMainVisibility()"
      ></div>
    </div>
    <app-dev-space
      [class.hidden]="!isMainVisible"
      (viewSwitch)="onViewSwitch($event)"
    ></app-dev-space>
    <div
      class="routing-content"
      [class.hidden]="!isRoutingContentVisible"
      [class.padded]="!isMainVisible"
    >
      <router-outlet></router-outlet>
    </div>
    <app-thread-chat></app-thread-chat>
  </div>
</main>
