* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

$primary-font-color: #535af1;
$primary-bg-color: #eceefe;

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    margin-left: 1rem;
    list-style-type: none;
    transition: all 0.2s ease;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;

    &:hover {
      cursor: pointer;
      color: $primary-font-color;
      font-weight: 700;
      border-radius: 2rem;
      padding: 0.2rem;
      background-color: $primary-bg-color;
      transform: scale(1.05);
    }
  }

  li.channel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-icon {
      display: none;
      font-size: 0.9rem;
      color: #ff0000;
      cursor: pointer;
      margin-right: 0.5rem;
      transition: all 0.2s ease;

      &:hover {
        font-weight: 700;
        transform: scale(1.2);
      }
    }

    &:hover {
      .delete-icon {
        display: block;
      }
    }
  }

  .active-li {
    cursor: pointer;
    color: $primary-font-color;
    font-weight: 700;
    border-radius: 2rem;
    padding: 0.2rem;
    background-color: $primary-bg-color;
    transform: scale(1.05);

    .delete-icon {
      display: none;
    }
  }

  .add-channel {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    .add-channel-icon {
      width: 1.1rem;
      height: 1.1rem;
      transition: all 0.3s ease;
    }

    span {
      color: #000;

      font-size: 0.9rem;
    }

    &:hover {
      .add-channel-icon {
        content: url("../../../assets/icons/add_circle_hover.png");
      }
      span {
        color: $primary-font-color;
      }
    }
  }

  @media (max-width: 800px) {
    font-size: 1.5rem;
    width: 210px;
    li.channel {
      .delete-icon {
        font-size: 1.5rem;
        margin-right: 1rem;
      }

      &:hover {
        .delete-icon {
          display: block;
        }
      }
    }
    .add-channel {
      span {
        font-size: 1.5rem;
      }
    }
  }
}

.rotated {
  transform: rotate(-90deg);
}
.bg-dark {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.375);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-dialog {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 0 20px 20px 20px;
  padding: 2rem;
  gap: 1rem;

  span {
    font-size: 1rem;
    text-align: center;
  }

  div {
    display: flex;
    gap: 1rem;
  }
}

.blue-button {
  background-color: #444df2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #333cc2;
  }
}

.white-button {
  background-color: white;
  color: #444df2;
  border: 1px solid #444df2;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f0f1fe;
  }
}

//------------- ↑ Global Styling ↑ --------------

main {
  width: 100%;
  height: 87vh;
  border-radius: 16px;
  background-color: white;
  box-sizing: border-box;
  position: relative;

  #edit-btn-smartphone {
    position: absolute;
    display: none;
    z-index: 1;
    @media (max-width: 800px) {
      display: block;
      bottom: -1rem;
      right: -0.5rem;
    }
  }

  .scroll-container {
    height: 100%;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 800px) {
      position: relative;
    }

    &::-webkit-scrollbar {
      width: 8px;
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6269f1;
      border-radius: 12px;
      border: 2px solid #eceefe;
    }
  }

  #padding-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media (max-width: 950px) {
      position: relative;
    }
    @media (max-width: 800px) {
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    #center-container {
      @media (max-width: 800px) {
        max-width: 500px;
        min-width: 280px;
      }
      #header-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        img {
          object-fit: contain;
          width: 2.5rem;
          aspect-ratio: 1/1;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          gap: 0.5rem;
          p {
            display: none;
          }
          .edit-icon {
            width: 1.2rem;
            height: 1.2rem;
            background-image: url("/assets/icons/edit_icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.2s ease;

            &:hover {
              background-image: url("/assets/icons/edit_icon_hover.png");
              &::before {
                content: "";
                position: absolute;
                width: 2rem;
                height: 2rem;
                background-color: rgba(128, 128, 128, 0.2);
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        @media (max-width: 800px) {
          justify-content: center;
          margin-top: 1rem;
          gap: 1rem;
          position: relative;

          img {
            width: 3rem;
          }

          h2 {
            font-size: 3rem;
          }
          a {
            display: none;
          }
        }
      }
    }

    #channels-section {
      .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        #section-header-left {
          display: flex;
          align-items: center;
          cursor: pointer;

          .drop-down-icon {
            width: 2rem;
            height: 2rem;
            background-image: url("/assets/icons/arrow_drop_down_icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.2s ease;
          }

          .channels-icon {
            width: 1rem;
            height: 1rem;
            background-image: url("/assets/icons/channels_icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.2s ease;
          }

          h3 {
            margin: 0;
            color: #000;
            transition: color 0.2s ease;
          }

          &:hover {
            .drop-down-icon {
              background-image: url("/assets/icons/arrow_drop_down_icon_hover.png");
            }
            .channels-icon {
              background-image: url("/assets/icons/channels_icon_hover.png");
            }
            h3 {
              color: $primary-font-color;
            }
          }
        }

        #add-icon {
          width: 0.8rem;
          height: 0.8rem;
          background-image: url("/assets/icons/add_icon.png");
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          &:hover {
            background-image: url("/assets/icons/add_icon_hover.png");
            transform: scale(1.5);
            &::before {
              content: "";
              position: absolute;
              width: 1rem;
              height: 1rem;
              background-color: rgba(128, 128, 128, 0.2);
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        @media (max-width: 800px) {
          margin-top: 1rem;
          padding-right: 2rem;
          #section-header-left {
            gap: 0.5rem;
            .channels-icon {
              width: 2rem;
              height: 2rem;
            }
            h3 {
              font-size: 2rem;
            }
          }

          #add-icon {
            width: 1.5rem;
            height: 1.5rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }

  #directmessages-section {
    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      #section-header-left {
        display: flex;
        align-items: center;
        cursor: pointer;

        .drop-down-icon {
          width: 2rem;
          height: 2rem;
          background-image: url("/assets/icons/arrow_drop_down_icon.png");
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s ease;
        }

        .channels-icon {
          width: 1rem;
          height: 1rem;
          background-image: url("/assets/icons/channels_icon.png");
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s ease;
        }

        h3 {
          margin: 0;
          color: #000;
          transition: color 0.2s ease;
        }

        &:hover {
          .drop-down-icon {
            background-image: url("/assets/icons/arrow_drop_down_icon_hover.png");
          }
          .channels-icon {
            background-image: url("/assets/icons/channels_icon_hover.png");
          }
          h3 {
            color: #535af1;
          }
        }
      }

      @media (max-width: 800px) {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }

    .section-content {
      ul {
        li.messages {
          display: flex;
          align-items: center;

          #img-container {
            position: relative;

            #user-icon {
              border-radius: 50%;
              height: 2.5rem;
              aspect-ratio: 1/1;
              margin-right: 0.5rem;
            }

            #online-status {
              position: absolute;
              right: 0.5rem;
              bottom: 0;
              height: 1rem;
              aspect-ratio: 1/1;
            }
          }

          &.active-li {
            background-color: #d3d7ff;
          }
        }

        .user-name {
          display: inline-block;
          white-space: normal;
        }
      }
    }
  }
}
