@use "../../styles/mixins.scss" as *;

main {
    justify-self: center;
    width: 99%;
    height: 95%;
    @include standard-flex(space-between);

    .logo-container {
        @include standard-flex();
        width: 20%;
    }
    .find-container {
        flex: 1;
    }
    .profile-container {
        
        @include standard-flex(end);
        width: 20%;
    }
}