@use "../../styles/mixins.scss" as *;
$inputHeight: 3.5rem;

main {
    justify-self: center;
    width: 100%;
    height: 100%;
    @include standard-flex(space-between, end);

    .logo-container {
        @include standard-flex(flex-start);
        width: 20%;
        gap: 1rem;
        >img {
            margin-left: 2rem;
            width: 15%;
        }
        >span {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .find-container {
        position: relative;
        flex: 1;
        @include standard-flex();

        >input {
            width: 100%;
            height: $inputHeight;
            padding-left: 2rem;
            font-size: 2rem;
            border-radius: 24px;
            border: unset;
        }
        >div {
            position: absolute;
            right: 2rem;
            top: calc($inputHeight / 4);
            >img {
              width: calc($inputHeight / 2);
            }
        }
    }

    .profile-container {
        @include standard-flex(end);
        gap: 1rem;
        width: 20%;
        cursor: pointer;

        >span {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .avatar {
            width: 4rem;
            border-radius: 50%;
        }

        .menu-icon {
            margin-right: 2rem;
        }
        
    }

    app-profile {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.375);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}