<main>
    <div class="logo-container">
        <img src="assets/images/Logo.png" alt="logo">
        <span>DABubble</span>
    </div>
    <div class="find-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Devspace durchsuchen">
        <div>
            <img src="assets/icons/search.png" alt="">
        </div>
    </div>
    <div (click)="openProfilePopup($event)" class="profile-container">
        <span>{{currentUser?.name}}</span>
        <img class="avatar" src={{currentUser?.picture}} alt="profile-picture">
        <img class="menu-icon" src="assets/icons/keyboard_arrow_down.png" alt="menu">
    </div>

    @if (isProfilePopupOpen) {
        <app-profile (closePopup)="closeProfilePopup()"></app-profile>
    }

</main>