<section class="forgot-password">
    <img src="assets/icons/arrow_back.png" alt="back-arrow" class="back-arrow" (click)="goToLogin()">
    <h1>Passwort zurücksetzen</h1>
    <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    <form class="change-password-form" (ngSubmit)="sendMail()" enterMailForm="ngForm">
        <div>
            <img [src]="imagePaths['mail']" alt="" class="reg-icon">
            <input class="text-input" #email="ngModel" [(ngModel)]="mailData.email" name="email" type="text"
                id="register-email" placeholder="beispielname@email.com" (focus)="changeIcon('mail')" (blur)="changeIcon('mail')" required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched) {
                <p class="error">*Diese E-Mail ist leider ungültig</p>
                }
        </div>
        <p>Wir senden Ihnen eine Mail, über die Sie Ihr Passwort ändern können.</p>
        @if (email.valid) {
        <button class="btn" type="submit" (click)="sendMail()">E-Mail senden</button>
        } @else {<button class="btn-disabled" type="submit" (click)="sendMail()" disabled>E-Mail senden</button>}
    </form>
    @if (this.showConfirmation) {
        <div class="popup-box">
            <div class="mailSent">
                <img [src]="imagePaths['send']" alt="send-icon">
                <p>E-Mail gesendet</p>
            </div>
        </div>
    }
</section>