@use "../../styles/mixins.scss" as *;

$primary-font-color: rgb(83, 90, 241);
$primary-bg-color: #eceefe;
$btn-color: #444df2;
$btn-color-hover: #666df8;
$input-alert: rgb(237, 30, 121);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

.forgot-password {
    @include standard-flex(flex-start);
    flex-direction: column;
    // gap: 2rem;
    padding: 2rem 4rem;
    position: relative;
    // height: 100%;

    @media (max-width: 550px) {
        padding: 2rem;
    }


    .back-arrow {
        position: absolute;
        top: 4.5rem;
        left: 3rem;
        padding: 0.25rem;
        
        &:hover {
            cursor: pointer;
            background-color: $primary-bg-color;
            border-radius: 1rem;
        }
    }

    h1 {
        margin: 1.5rem 1rem;
        font-size: 
        2.53rem;
        color: $primary-font-color;

        @media (max-width: 550px) {
            overflow-wrap: break-word;
            text-align: center;
            line-height: 3rem;
        }
    }

    p {
        font-size: 1.2rem;
        text-align: center;
    }

    .text-input {
        box-sizing: border-box;
        width: calc(100% - 2.8rem);
        // width: 100%;
    }

    form {
        width: 100%;
        // height: 29rem;
        padding-bottom: 6rem;
        position: relative;

        div {
            position: relative;
            gap: 1rem;

            .text-input {
                @media (max-width: 550px) {
                margin: 1rem 0!important;
                width: 100%;
                }
            }

            .reg-icon {
                position: absolute;
                top: 2.3rem;
                left: 3rem;
                @media (max-width: 550px) {
                    top: 2rem;
                    left: 1.5rem;
                }
            }

            .error {
                position: absolute;
                top: 4.5rem;
                left: 3rem;
                font-size: 1rem;
                color: $input-alert;
            }
        }

        p {
            margin: 1rem 5rem;
            color: gray;
            
            @media (max-width: 550px) {
                margin: 1rem;
            }
        }

        button {
            position: absolute;
            bottom: 2rem;
            right: 0;
        }
    }

    .popup-box {
        position: absolute;
        height: 6rem;
        width: 15rem;
        top: 70%;
        right: 38%;
        overflow: hidden;
        border-radius: 2rem 2rem 0 2rem;
        .mailSent {
            position: relative;
            width: fit-content;
            @include standard-flex();
            background-color: $btn-color;
            padding: 1.5rem;
            gap: 1.5rem;
            color: white;
            border-radius: 2rem 2rem 0 2rem;
            animation: lsideIn 2s ease-in-out;
    
            img {
                height: 1.2rem;
            }
    
            p {
                margin: 0;
            }
        }
    }
}

@keyframes lsideIn {
    0% {
        left: 110%;
        opacity: 1;
    }
    
    40% {
        left: 0%;
    }
    
    80% {
        left: 0%;
        opacity: 1;
    }
    
    100% {
        left: 0%;
        opacity: 0;
    }
}