<div class="bg">
    <div class="edit-channel-container">
        <div class="header">
            <h2># Entwicklerteam</h2>
            <img src="assets/icons/close.png" alt="" (click)="closeEdit()">
        </div>
        <div class="name-container">
            <div>
                <span class="title">Channel-Name</span>
                <span class="edit-button">Bearbeiten</span>
            </div>
            <span># Entwicklerteam</span>
        </div>
        <div class="description-container">
            <div>
                <span class="title">Beschreibung</span>
                <span class="edit-button">Bearbeiten</span>
            </div>
            <span class="description">Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und Entscheidungen treffen.</span>
            <span class="title">Erstellt von</span>
            <h3>Noah Braun</h3>
        </div>
        <div class="button-container">
            <button>Channel verlassen</button>
        </div>
    </div>
</div>