/* #region fonts */
/* nunito-200 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/nunito-v26-latin-200.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/nunito-v26-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/nunito-v26-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/nunito-v26-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/nunito-v26-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/nunito-v26-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/nunito-v26-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/nunito-v26-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* #endregion */


$primary-font-color: rgb(83, 90, 241);
$primary-bg-color: #eceefe;
$btn-color: #444df2;
$btn-color-hover: #666df8;
$input-alert: rgb(237, 30, 121);

@mixin standard-button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Nunito';
  box-sizing: border-box;
}

.white-button {
  @include standard-button();
  background-color: white;
  color: #444DF2;
  border: 1px solid #444DF2;

  &:hover {
    background-color: #444DF2;
    color: white;
  }
}

.btn {
  padding: 0.8rem 1.5rem!important;
  font-size: 1.1rem;
  color: $primary-font-color;
  font-weight: 700;
  border-radius: 2rem;
  border: solid 1px $btn-color;
  background-color: white;
  transition: background-color 0.25s;

  &:hover {
      cursor: pointer;
      background-color: $primary-font-color;
      color: white;
  }
}

.btn-disabled {
  padding: 0.8rem 1.5rem!important;
  font-size: 1.1rem;
  color: $primary-font-color;
  font-weight: 700;
  border-radius: 2rem;
  border: solid 1px $btn-color;
  background-color: white;
  transition: background-color 0.25s;

  &:hover {
      cursor: not-allowed;
  }
}

.blue-button {
  @include standard-button();
  background-color: #444DF2;
  color: white;
  border: none;

  &:hover {
    background-color: #7e84f8;
  }
}

.text-input {
    // height: 3.5rem;
    padding: 1rem 1rem 1rem 4rem!important;
    border-radius: 2rem;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0);
    background-color: rgb(236, 238, 254);
    outline: none;
    margin: 1.2rem!important;
    font-size: 1.2rem;

    &:hover {
        border: 1px solid rgb(128, 128, 128);
    }

    &:focus {
        border: 1px solid rgb(83, 90, 241);
    }

    &::placeholder {
        padding-top: 2px;
        font-size: 1.2rem;
    }
}